@import 'base/variables';
* {
    font-family: 'Sitka Banner';
    font-weight: lighter;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    .text-decor, .cards__mini-title {
        h1, h2, h3, h4 {
            font-family: 'Bickham Script Three', sans-serif;
            font-weight: lighter;
        }
    }
}


.gallery {
    margin-top: 5vw;
    width: 100%;
    display: flex;
    justify-content: center;
    &__wrapper {
        width: 98%;

    }

}


@import 'elements/cards';
@import 'elements/viewer';


@import 'blocks/header';
@import 'blocks/contact';


// @import 'blocks/page_catalog';


@import 'media/cards_m';
@import 'media/viewer_m';


// @import 'import_css/swiper';